<ion-view view-title="About">
  <ion-content>
    <img src="img/splash.png" width="100%" style="padding: 50px"/>
    <!-- <div class="card">
      <div class="item item-divider">
        Application
      </div>
      <div class="item item-text-wrap">
        Barbs is a chat application bot that can answer AUF-related questions.

      </div>
    </div> -->

    <div class="card">
      <div class="item item-divider">
        Version
      </div>
      <div class="item item-text-wrap">
        0.1
      </div>
    </div>

    <div class="list card">

      <div class="item item-divider">
        Developers
      </div>

      <div class="item item-text-wrap">
        Daniel John Gomez
      </div>

      <div class="item item-text-wrap">
        Josel Jesus Pineda
      </div>

      <div class="item item-text-wrap">
        Jerimie Romero
      </div>

    </div>
  </ion-content>
</ion-view>
